@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Email">Email:</abbr>
    <a href="mailto:byteMaestro@hotmail.com">ByteMaestro@hotmail.com</a><br />
</address>
